# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# SpaceVim configs
**SpaceVim.d/

# cmake folders
**cmake-build-Release/
**cmake-build-Clang/

# compile commands
compile_commands.json

# python install files
**_skbuild/
**dist/
**p56_measurement.egg-info
__pycache__
